body {
	font-family: Raleway;
}

.m-l-md {
	margin-left: 15px;
}

.m-b-md {
	margin-bottom: 15px;
}

.m-r-md {
	margin-right: 15px;
}

.m-t-md {
	margin-top: 15px;
}

.m-t-lg {
	margin-top: 30px;
}

.landing-photo {
	position: relative;
    text-align: center;
    color: white;
    background-color: #000000; 
}

.landing-photo img {
	opacity: 0.6;
	width: 100%;
}

.text-center-left {
	position: absolute;
	top: 20%;
	left: 10%;
	text-align: left;
}

.font-light {
	font-weight: 300;
}

.font-bold {
	font-weight: 700;
}

.contruction-container {
	padding: 30px 0;
}

.center {
	width: 70%;
	position: absolute;
	top: 55%;
	left: 50%;
    transform: translate(-50%, -50%);
	text-align: center;
}

#word {
	color: white;
	background: rgba(85, 85, 85, 0.3);
	/*background: transparent;*/
	text-align: center;
}

#word::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #eee ;
    opacity: 1; /* Firefox */
}

#word:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #eee;
}

#word::-ms-input-placeholder { /* Microsoft Edge */
    color: #eee;
}

#construct-btn {
	background: rgba(0, 0, 0, 0.8);
	color: #eef;
}

#construct-btn:hover {
	background: rgba(0, 0, 0, 1);
}